{% extends 'home_base.html' %}
{% block content %}
 <div style="width: 70%; height: auto;">
        <div align="center">
            <div class="jumbotron">
                <img src="{{poster}}">
                </br>
                </br>
                <h2>{{show.title}}</h2> <p>({{show.year}})</p>
                <div class="badge badge-primary text-wrap" style="width: 6rem;">
                {{show.get_platform_display}}
                </div>
                </br>
                <hr class="my-4">
                </br>
                <form action="" method="post">
                {% csrf_token %}
                 {{form.as_p}}
                    <input type="submit" name="rate" class="btn btn-primary" value="Accept">
                </form>
            </div>
        </div>
 </div>
{% endblock %}